{% extends "global_wrapper.html.twig"%}

{% block title %}
{{ kxEnv("site:name") }}{% if _get.view != '' %} - {{ _get.view|capitalize }}{% endif %}{% if _get.page != '' %} - News - Page {{ _get.page }}{% endif %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ kxEnv("paths:main:path") }}/public/css/site_global.css" />
{% for style in styles %}
  <link rel="{% if style != kxEnv('css:sitedefault') %}alternate {% endif %}stylesheet" type="text/css" href="{{ kxEnv("paths:main:path") }}/public/css/{{ style }}/site.css" title="{{ style|capitalize }}" />
{% endfor %}
{% endblock %}

{% block content %}
  <header role="banner">
    <h1>{{ kxEnv("site:name") }}</h1>
    {% if kxEnv("site:slogan") != '' %}
    <h6>{{ kxEnv("site:slogan") }}</h6>
    {% endif %}
  </header>
  
  <section id="recent">
    <section id="posts">
      <h3>Recent Posts</h3>
      <ul>
      {% for post in recentposts %}
        <li><a class="ref|{{ post.board.name }}|{% if post.parent == 0 %}{{ post.id }}{% else %}{{ post.parent.id }}{% endif %}|{{ post.id }}" href="{{ kxEnv("paths:main:path") }}/{{ post.board.name }}/res/{% if post.parent == 0 %}{{ post.id }}.html{% else %}{{ post.parent.id }}.html#{{ post.id }}{% endif %}">&gt;&gt;&gt;/{{ post.board.name }}/{{ post.id }}</a> - {{ post.message|striptags|u.truncate(60, '...', false)|raw }}<br /></li>
      {% endfor %}
      </ul>
    </section>
    
    <section id="images">
      <h3>Recent Images</h3>
      <ul>
      {% for post in recentimages %}
        <li><a class="ref|{{ post.board_name }}|{% if post.parent_post_id == 0 %}{{ post.post_id }}{% else %}{{ post.parent_post_id }}{% endif %}|{{ post.post_id }}" href="{{ kxEnv("paths:main:path") }}/{{ post.board_name }}/res/{% if post.parent_post_id == 0 %}{{ post.post_id }}.html{% else %}{{ post.parent_post_id }}.html#{{ post.post_id }}{% endif %}">
        <img alt="&gt;&gt;&gt;/{{ post.board_name }}/{{ post.post_id }}" src="{{ kxEnv("paths:main:path") }}/{{ post.board_name}}/thumb/{{ post.file_name }}s.{{ post.file_type }}"></a></li>
      {% endfor %}
      </ul>
    </section>
    <br class="clear" />
  </section>
  
  <div class="wrap">
  <section id="news">
    <header>
      <ul>
        <li{% if _get.view == '' %} class="selected"{% endif %}>{% if _get.view != '' %}<a href="{{ kxEnv("paths:main:path") }}/">{% endif %}News{% if _get.view != '' %}</a>{% endif %}</li>
        <li{% if _get.view == 'faq' %} class="selected"{% endif %}>{% if _get.view != 'faq' %}<a href="{{ kxEnv("paths:main:path") }}/index.php?view=faq">{% endif %}FAQ{% if _get.view != 'faq' %}</a>{% endif %}</li>
        <li{% if _get.view == 'rules' %} class="selected"{% endif %}>{% if _get.view != 'rules' %}<a href="{{ kxEnv("paths:main:path") }}/index.php?view=rules">{% endif %}Rules{% if _get.view != 'rules' %}</a>{% endif %}</li>
      </ul>
      <br class="clear" />
    </header>
    
{% for item in entries %}
    <article>
      <h4 id="id{{ item.id }}">
        <span class="newssub">{{ item.subject }} {% if _get.p == '' %} by {% if item.email != '' %} <a href="mailto:{{ item.email }}">{% endif %} {{ item.name }} {% if item.email != '' %} </a>{% endif %}  - {{ item.created_at|date("d/m/y @ h:i a T") }} {% endif %} </span>
        <a class="permalink" href="#id{{ item.id }}">#</a>
      </h4>
      
      <p>
        {{ item.message }}
      </p>
    </article>
{% endfor %} 
    
{% if _get.view == '' %}
    <footer>
  {% for i in 0..pages %}
      [ {% if _get.page != i %}<a href="{{ kxEnv("paths:main:path") }}/index.php?page={{ i }}">{% endif %}{{ i }}{% if _get.page != i %}</a>{% endif %} ]
  {% endfor %}
    </footer>
{% endif %}
  </section>
  
  <!--<section id="rbanner">
    &nbsp;
  </section>-->
  
  <section id="boardlist">
    <h2>Boards</h2>
    
{% for section in sections %}
    <article>
      <h4><span class="section_toggle" onclick="kusaba.toggle(this, 'section_{{ section.id }}');">&nbsp;{% if section.is_hidden == 1 %}&#43;{% else %}&minus;{% endif %}&nbsp;</span>{{ section.name }}</h4>
      
      <ul {% if section.is_hidden %} style="display: none;"{% endif %}id="section_{{ section.id }}">
{% for board in section.boards %}
        <li><a href="{{ kxEnv("paths:boards:path") }}/{{ board.directory }}/" title="{{ kxEnv("site:name") }} - {{ board.name }}">&bull; {{ board.name }}</a></li>
{% else %}
        <li>No boards</li>
{% endfor %}
      </ul>
      <br class="clear" />
    </article>
{% endfor %}
  </section>
  </div>
  
  {# Little divs needed to make the columns equal height #}
  <div class="wrap hfix">
  <div class="lcol"></div>
  <div class="rcol"></div>
  </div>
  
  <footer>
{% if kxEnv('misc:boardlist') %}
    <section id="foot_boardlist">
    {% for section in sections %}
      [
    {% for board in section.boards %}
      <a title="{{board.name}}" href="{{ kxEnv("paths:boards:path") }}/{{board.directory}}/">{{board.name}}</a>{% if not loop.last %} / {% endif %}
    {% endfor %}
       ]
    {% endfor %}
{% endif %}
    </section>
    <section id="powered_by">
      Powered by Edaha
    </section>
  </footer>

{% endblock %}