{% import "manage/macros.html.twig" as macros %}

{% extends "manage/wrapper.html.twig" %}

{% block heading %}{% trans "News Management" %}{% endblock %}

{% block managecontent %}

<form action="{{ base_url }}app=core&amp;module=site&amp;section=front&amp;do=frontpage&amp;action=post&amp;board_id={{ board.id }}" method="post">
  {{ macros.manageform("new_post", "New Post", true,
                       { 'Subject' : { 'id' : 'subject', 'type' : 'text', 'desc' : "Can not be left blank",  'value' : entry.subject } ,
                         'Post'    : { 'id' : 'message', 'type' : 'textarea', 'value' : entry.message } ,
                         'E-Mail'  : { 'id' : 'email', 'type' : 'text', 'desc' : "Can be left blank",  'value' : entry.poster.email } }
                       ) 
  }}
<input type="hidden" id="edit" name="edit" value="{{ entry.id }}" />
</form>
  
<br />  
<table cellspacing="1px">
  <col class="col1" /> <col class="col2" />
  <col class="col1" /> <col class="col2" />
  <thead>
    <tr>
      <th>{% trans "Date Added" %}</th>
      <th>{% trans "Subject" %}</th>
      <th>{% trans "Message" %}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for post in board.posts %}
    <tr>
      <td>{{ post.created_at|date("d/m/y @ h:i a T") }}</td>
      <td>{{ post.subject }}</td>
      <td>{{ post.message }}</td>
      <td>[ <a href="{{ base_url }}app=core&amp;module=site&amp;section=front&amp;do=frontpage_manage&amp;action=edit&amp;board_id={{ board.id }}&amp;id={{ post.id }}">{% trans "Edit" %}</a> ] [ <a href="{{ base_url }}app=core&amp;module=site&amp;section=front&amp;do=frontpage&amp;action=del&amp;id={{ post.id }}">{% trans "Delete" %}</a> ]</td>
    </tr>
  {% else %}
    <tr>
      <td colspan="4">
        No entries found.
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}