<a name="{{ post.post_id }}"></a>
<input type="checkbox" name="post[]" value="{{ post.post_id }}" />
{% if post.subject != '' %}
  <span class="subject">{{ post.subject }}</span>
{% endif %}
{% apply spaceless %}
  {% if post.authority == 1 %}
    <span class="capcode_admin">
  {% elseif post.authority == 2 %}
    <span class="capcode_mod">
  {% endif %}
  <span class="postername">
  {% if post.email and board.board_anonymous %}
    <a href="mailto:{{post.email}}">
  {% endif %}
  {% if post.name == '' and post.tripcode == '' %}
    {{board.board_anonymous}}
  {% elseif post.name == '' and post.tripcode != '' %}
  {% else %}
    {{post.name}}
  {% endif %}
  {% if post.email != '' and board.board_anonymous != '' %}
    </a>
  {% endif %}
  </span>

  {% if post.tripcode != '' %}
    <span class="postertrip">!{{post.tripcode}}</span>
  {% endif %}
{% endapply %}
{% if post.authority == 1 %}
  <span title="{{ kxEnv("site:name") }} {% trans "administrator" %}" class="capcode">
    &#35;&#35;&nbsp;{% trans "Admin" %}&nbsp;&#35;&#35;
  </span>
{% elseif post.authority == 2 %}
  <span title="{{ kxEnv("site:name") }} {% trans "moderator" %}" class="capcode">
    &#35;&#35;&nbsp;{% trans "Mod" %}&nbsp;&#35;&#35;
  </span>
{% endif %}
{% if post.authority >= 1 %}
  </span>
{% endif %}
{{post.timestamp_formatted}}
<span class="reflink">
  {{post.reflink|raw}}
</span>
{% if board.board_show_id %}
  ID: {{post.ipmd5|slice(0,5)}}
{% endif %}

{% if post.parent_post_id == 0 %}
<span id="dnb_{{board.board_name}}_{{post.post_id}}_y"></span>
<span class="extrabtns">
  {% if post.is_locked == 1 %}
<img style="border: 0;" src="{{boardpath}}css/locked.gif" alt="{% trans "Locked" %}" />
  {% endif %}
  {% if post.is_stickied == 1 %}
<img style="border: 0;" src="{{boardpath}}css/sticky.gif" alt="{% trans "Stickied" %}" />
  {% endif %}
<span id="hide_{{post.post_id}}"></span>
  {% if kxEnv("extra:watchthreads") %}
<span id="watch_{{post.post_id}}"></span>
  {% endif %}
  {% if kxEnv("extra:expand") and post.replies and (post.replies + kxEnv("display:replies")) < 300 %}
<span id="expand_{{post.post_id}}"></span>
  {% endif %}
  {% if kxEnv("extra:quickreply") %}
<span id="quickreply_{{post.post_id}}"></span>
  {% endif %}
</span>
{% endif %}
{% if post.replies > 1000 %}
  {% if kxEnv("display:traditionalread") %}
    &#91;<a href="{{ kxEnv("paths:main:path") }}/read.php/{{board.board_name}}/{{post.post_id}}/p1-100">{% trans "Reply" %}</a>&#93;
    &#91;<a href="{{ kxEnv("paths:main:path") }}/read.php/{{board.board_name}}/{{post.post_id}}/l50">{% trans "Last 50 posts" %}</a>&#93;
  {% else %}
    &#91;<a href="{{ kxEnv("paths:main:path") }}/read.php?b={{board.board_name}}&t={{post.post_id}}&p=p1-100">{% trans "Reply" %}</a>&#93;
    &#91;<a href="{{ kxEnv("paths:main:path") }}/read.php?b={{board.board_name}}&t={{post.post_id}}&p=l50">{% trans "Last 50 posts" %}</a>&#93;
  {% endif %}
{% else %}
  {% if post.parent_post_id == 0 and replythread == 0 %}[<a href="{{ kxEnv("paths:boards:path") }}/{{board.board_name}}/res/{{post.post_id}}.html">{% trans "Reply" %}</a>]{% endif %}
  {% if kxEnv("extra:firstlast") and ((post.is_stickied == 1 and post.replies + kxEnv("display:stickyreplies") > 50) or (post.is_stickied == 0 and post.replies + kxEnv("display:replies") > 50)) %}
    {% if ((post.is_stickied == 1 and post.replies + kxEnv("display:stickyreplies") > 100) or (post.is_stickied == 0 and post.replies + kxEnv("display:replies") > 100)) %}
      [<a href="{{ kxEnv("paths:boards:path") }}/{{board.board_name}}/res/{% if post.parent_post_id == 0 %}{{post.post_id}}{% else %}{{post.parent_post_id}}{% endif %}-100.html">{% trans "First 100 posts" %}</a>]
    {% endif %}
    [<a href="{{ kxEnv("paths:boards:path") }}/{{board.board_name}}/res/{{post.post_id}}+50.html">{% trans "Last 50 posts" %}</a>]
  {% endif %}
{% endif %}
