{% block boardfooter %}
    {% if not isread %}
      <div id="thread_controls">
        <div id="posts_delete">
          <div class="tc_header">{% trans "Delete post"%}</div>
          <div class="tc_body">
            <label for="fileonly">{% trans "File Only" %}</label>
            <input type="checkbox" name="fileonly" id="fileonly" value="on" />
            <br />
            <label for="password">{% trans "Password" %}</label>
            <input type="password" name="postpassword" size="12" />&nbsp;
            <input name="deletepost" value="{% trans "Delete" %}" type="submit" />
          </div>
        </div>
        {% if board.board_reporting == 1 %}
          <div id="posts_report">
            <div class="tc_header">{% trans "Report post" %}</div>
            <div class="tc_body">
              <label for="reportreason">{% trans "Reason" %}</label>
              <input type="text" name="reportreason" size="12" />&nbsp;
              <input name="reportpost" value="{% trans "Report" %}" type="submit" />	
            </div>
          </div>
        {% endif %}
      </div>
      </form>

      <script type="text/javascript"><!--
        kusaba.set_delpass("delform");
      //--></script>
    {% endif %}
    {% if replythread == 0%}
      <div id="paging">
        <ul>
          {% apply spaceless %}
            <li id="prev">
              {% if thispage == 0 %}
                {% trans "Previous" %}
              {% else %}
                <form method="get" action="{{ kxEnv("paths:boards:path") }}/{{board.board_name}}/{% if (thispage-1) != 0 %}{{thispage-1}}.html{% endif %}">
                  <input value="{% trans "Previous" %}" type="submit" /></form>
              {% endif %}
            </li>
          {% endapply %}
          {% apply spaceless %}
            {% for page in range(0, numpages) %}
              {% apply spaceless %}
                <li>&#91;
                  {% if page != thispage %}
                    <a href="{{ kxEnv("paths:boards:path") }}/{{board.board_name}}/{{page}}.html">
                  {% endif %}
                
                  {{ page }}
                
                  {% if page != thispage %}
                    </a>
                  {% endif %}
                &#93;</li>
              {% endapply %}
            {% endfor %}	
          {% endapply %}
          {% apply spaceless %}
            <li id="next">
              {% if thispage == numpages %}
                {% trans "Next" %}
              {% else %}
                <form method="get" action="{{ kxEnv("paths:boards:path") }}/{{board.board_name}}/{{thispage+1}}.html"><input value="{% trans "Next" %}" type="submit" /></form>
              {% endif %}
            </li>
          {% endapply %}
        </ul>
      </div>
    {% endif %}
    <div id="footer">
      {% if boardlist %}
        <div class="navbar">
          {%if kxEnv("misc:boardlist") %}
            {% include "board/global/boardlist.html.twig" %}
          {% endif %}
        </div>
      {% endif %}
      <div id="disclaimer">
        {# I'd really appreciate it if you left the link to edaha.org in the footer, if you decide to modify this. That being said, you are not bound by license or any other terms to keep it there #}
        - <a href="http://edaha.org/" target="_top">Edaha 1.0</a>
        {% if executiontime %} + {% trans "Took" %} {{executiontime}}s{% endif %} -
        {% if botads %}
          <div class="content ads">
            <center> 
              {{botads}}
            </center>
          </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
