{% block boardheader %}
    <div id="adminbar" class="adminbar">
    {% if kxEnv("extra:watchthreads") %}
      [<a href="#" id="showwatchedthreads" title="{% trans "Watched Threads" %}">WT</a>]&nbsp;
    {% endif %}

    {% if kxEnv("extra:postspy") %}
      [<a href="#" id="togglepostspy" title="{% trans "Post Spy" %}">PS</a>]&nbsp;
    {% endif %}

    </div>
    <div class="navbar">
      {%if kxEnv("misc:boardlist") %}
        {{ include("board/global/boardlist.html.twig") }}
      {% endif %}
      <span id="sitelinks">
        [<a href="{{ kxEnv("paths:main:path") }}" target="_top">{% trans "Home" %}</a>]&nbsp;[<a href="{{ kxEnv("paths:cgi:path") }}/manage.php" target="_top">{% trans "Manage" %}</a>]
      </span>
      {% if kxEnv("css:imgswitcher") %}
        <span id="styleswitcher">
        {% if kxEnv("css:imgdropswitcher") %}
          <select id="dropswitch">
            <option>{% trans "Styles" %}</option>
            {% for style in kxEnv("css:imgstyles") | split(":") %}
            <option value="{{ style|capitalize }}">{{ style|capitalize }}</option>
            {% endfor %}
          </select>
        {% else %}
          {% for style in kxEnv("css:imgstyles") | split(":") %}
            [<a href="#" id="style_{{ style|capitalize }}">{{ style|capitalize }}</a>]
          {% endfor %}
        {% endif %}
        </span>
      {% endif %}
    </div>
    {% if kxEnv("extra:watchthreads") %}
      <div id="watchedthreads"></div>
    {% endif %}

    <div class="logo">
      {% if kxEnv("site:header") and not board.board_image %}
        <img src="{{ kxEnv("site:header") }}" alt="{% trans "Logo" %}" /><br />
      {% elseif board.board_image and board.board_image != "none" %}
        <img src="{{board.board_image}}" alt="{% trans "Logo"%}" /><br />
      {% endif %}
      <h1>
        {% if kxEnv("pages:dirtitle") %}
          /{{board.board_name}}/
        {% endif %}
      {% if board.board_desc and kxEnv("pages:dirtitle") %} - {% endif %}
      {% if board.board_desc %}{{board.board_desc}}{% endif %}
      </h1>
    </div>
    
    {% if board.board_include_header %}
      <div id="includeheader">
        {{board.board_include_header}}
      </div>
    {% endif %}
    <hr />
    {% if replythread != 0%}
        [ <a href="{{ kxEnv("paths:boards:path") }}/{{board.board_name}}/">{{ "Return"|trans }}</a> ]
        <div class="replymode">{{ "Posting mode: Reply"|trans }}</div>
    {% endif %}
{% endblock boardheader %}